@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

html {
	background-color: #F7F7F7;
	font-family: 'Oxygen', sans-serif;
}


body {
	margin: 0;

}

.nav {
	overflow: hidden;
	text-align: center;
	color: #FF5959;
	font-size: 19px;
	background-color: #FFF1BD;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.main {
	padding: 16px;
	margin-top: 45px;
	height: auto;
	/* Used in this example to enable scrolling */
}

a:link {
	color: #31326F;

	text-decoration: none;
}

a:visited {
	color: #AC66CC;
	text-decoration: none;
}

a:hover {
	color: #FF0075;
	text-decoration: none;
}

a:active {
	color: yellow;
	text-decoration: none;
}

footer {
	width: 100%;
	text-align: center;
	background: #1E5128;
	font-size: 15px;
	position: fixed;
	left: 0px;
	bottom: 0px
}

.ft p {
	color: #FBFFE2;
}

.content-wrapper {
	background-color: #CDDEFF;
	max-width: auto;
	text-align: center;
	width: 60%;
	padding: 10px 30px 10px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

li:hover {
	color: #FF0075;
}

summary {
	cursor: pointer;
}

summary:hover {
	color: blue;
	font-weight: bolder;
}

details {
	padding: 5px 0;
}